$text-color: beige;
$link-hover: #6032AA;
$font-color: #000000;
$available: #198c19;
$reserved: #d04b56;
$en-option: sandybrown;
$puppy-male: lightblue;
$puppy-female: pink;
$puppy-female-back: #6f0b30;

@mixin btn-colour($colour) {

    background-color: $colour;
    border: $colour solid 1px;
    box-shadow: 4px 4px 4px darken($colour, 20);
    color: black;
}

@mixin puppy-card($colour, $back-colour) {
    color: $colour;
    box-shadow: 4px 8px 2px $colour;
    background-color: $back-colour;
}

#header {
    width: 90%;
    margin: auto;
}

#coor-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 1.2em;
}

#contact {
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#image-contact {
    max-width: 400px;
    border-radius: 5%;
}

#link-friend {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#breed-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        line-height: 1.5em;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    aside {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-bottom: 110px;
    }

    aside div {
        display: flex;
        justify-content: space-evenly;
    }

    img {

        align-self: flex-start;
        
        max-width: 350px;
        height: auto;
        border-radius: 2%;
        box-shadow: white 3px 5px 3px;
        margin: 10px;

    }
}

#standard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    p {
        u {
            margin: 30%;
        }
        width: 80%;
        line-height: 2rem;
    }
    mark {
        text-decoration: underline;
        font-weight: bold;
        background-color: $font-color;
        color: $text-color;
    }
    padding-bottom: 50px;
}

#puppiesTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*------------------------------------Section 1 ------------------------------*/
#last-weeding {

    background-image:url("../src/img/okkaina1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

    height: 700px;
    border-bottom: solid black 2px;
    padding-bottom: 15px;
    padding-left: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

    p {
        color: white; 
        text-shadow: black 2px 2px 3px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 20px;
    }
    button {
        margin-right: 10%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
 /*----------------------------Section 2 -----------------------------------*/
#who-are-us {

    background-color: $text-color;
    color: black;
    font-style: italic;
    font-size: 1.0rem;
    text-shadow: black 1px 0px 0px;

    height: 600px;
    border-bottom: solid black 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        text-decoration: underline;
    }
    p  {
        text-align: center;
        max-width: 80%;
        align-self: center;
    }
    p > i {
        font-size: 0.9em;
        padding: 10px;
        text-decoration: underline;
        position: relative;
        left: 500px;

    }
}
/* ------------------------------Section 3--------------------------------- */

#our-lovely-dog {
    background-image: url("../src/img/okkaina12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 35%;


    color: white;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    text-shadow: black 1px 1px 1px;

    height: 700px;
    border-bottom: solid black 2px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    h2 {
        font-size: 1.7rem;
        padding-right: 3rem;
    }
    a {
        font-size: 1.2rem;
        padding-top: 0.4rem;
        padding-right: 8rem;
    }
}


/*-------------------------------Classes-------------------------------------*/
.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }
  .line-height-1 {
    line-height: 1rem!important;
  }
  .line-height-2 {
    line-height: 1.2rem!important;
  }
  .line-height-3 {
    line-height: 1.5rem!important;
  }
  .line-height-4 {
    line-height: 4rem!important;
  }

.align-para-img {

    display: flex;
    justify-content: space-evenly;
    width: 90%;

    p {
        width: 80%;
        padding-right: 20px;
    }
}

.title {
    color: $text-color;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: $text-color 1px 1px 1px;

    padding-bottom: 30px;
}
.button {
    border-radius: 15%;
    padding: 10px;
    background-color: black;
    color: beige;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;

    &:hover {
        color: $link-hover;
        border-color: $link-hover;
        transform: scale(1.12);
    }
}
.btn-beige {
    color: black;
    background-color: $text-color;

    &:hover {
        text-decoration: underline;
    }
}
.btn-avail {
    text-decoration: underline;
    color: white;
    padding: 10%;
    border-radius: 100%;
    font-weight: bold;

}
.btn-dispo {

    @include btn-colour($available);

}
.btn-undispo {

    @include btn-colour($reserved);

}
.btn-option {

    @include btn-colour($en-option);
}
.no-a {
    color: $text-color;
    font-weight: bold;

    &:hover {
        color: $link-hover;
        transform: scale(1.0);
    }
}

.aside-weeding {

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;

}
.female-weeding {

    img {
        max-width: 20rem;
        height: auto;
        margin-bottom: 3rem;
        box-shadow: 4px 4px 6px grey;
    }
    h3 {
        position: relative;
        left: 3rem;
        text-align: left;
        color: pink;
        font-size: 1.3rem;
    }
    p {
        position: relative;
        left: 3rem;
        text-align: left;
    }
}

.male-weeding {

    img {
        max-width: 20rem;
        height: auto;
        margin-bottom: 3rem;
        box-shadow: 4px 4px 6px grey;

    }
    h3 {
        position: relative;
        left: 3rem;
        text-align: left;
        font-size: 1.3rem;
        color : lightblue;
    }
    p {
        position: relative;
        left: 3rem;
        text-align: left;
    }

}

.list-style {
    list-style: none;
    text-align: justify;
    font-weight: bold;
    line-height: 2.8em;
}
.repro-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}
.dog-info {
    padding-left: 100px;
    text-align: center;
    line-height: 150%;
    text-shadow: white 1px 1px 2px;
    color: $text-color;

    h2 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.3rem;
    }
}
.diapo-dog {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.diapo-button {
    align-self: stretch;
    font-weight: bold;
    text-shadow: black 2px 2px 5px;
    min-width: 30px;
}

.clicky-flex-align {
    align-self: flex-end;
    text-align: center;
}

.breed-para {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 80%;
    margin-left: 50px;
    margin-right: 50px;

}
/*--------------------- Page News -------------------------------*/
.article {
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;

    &__head {
        text-align: center;

        .article__title {
            text-decoration: underline $link-hover;
        }
    }
    &__content {
        display: flex;
        justify-content: space-evenly;

        .article__description {
            text-align: justify;
            padding: 20px;
            line-height: 1.5rem;
        }
        .article__image {
            max-width: 300px;
        }
    }
    &__foot {
        align-self: flex-end;

        .article__date {
            text-decoration: underline;
        }
        .article__author {
            font-style: italic;
        }
    }
}

.puppy__card {

    border-radius: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 70%;

    p {
        font-weight: bold;
        min-width: 110px;
        text-align: center;
    }
    img {

        max-height: 14rem;
        width: auto;
        padding: 10px;
    }
}

.puppy_male {
    text-shadow: 2px 2px 2px black;
    @include puppy-card($puppy-male, darken($puppy-male, 50));
}

.puppy_female {
    text-shadow: 2px 2px 2px black;
    @include puppy-card($puppy-female, $puppy-female-back);
}
.puppy-info-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 15%;
}

.puppy-para {
    text-align: center;

    .para-right {
        width: 80%;
        text-align: end;
    }
}

.puppy-img {

    img {
        border-radius: 5%;
    }

    &:hover {
        transform: scale(1.05);
    }
}


/* -------------------------------Général----------------------------------- */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

body {
    background-color: black;
    color: $text-color;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {

    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

a {
    color: $text-color;
    font-weight: bold;
    &:hover {
        color: $link-hover;
        transform: scale(1.2);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 1.0;

    div {
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
        border: solid $text-color 1px;
        border-radius: 1%;
        box-shadow: inset $text-color 2px 2px 15px, $text-color 2px 2px 15px;
    }
    p {
        margin-top: 1em;
    }
    #footer-copyright {
        font-size: 0.95em;
    }

    #footer-signature {
        font-size: 0.8em;
    }
}