@charset "UTF-8";
/* Bouton Couleur Complétant Bootstrap */
.btn-beige {
  color: black;
  background-color: beige;
}
.btn-beige:hover {
  text-decoration: underline;
}

/* Bouton Disponibilité Chiots */
.btn-avail {
  text-decoration: underline;
  color: white;
  padding: 2% 10%;
  font-weight: bold;
}

.btn-dispo {
  background-color: #198c19;
  border: #198c19 solid 1px;
  box-shadow: 4px 4px 4px #0a350a;
  color: black;
}

.btn-undispo {
  background-color: #d04b56;
  border: #d04b56 solid 1px;
  box-shadow: 4px 4px 4px #90252e;
  color: black;
}

.btn-option {
  background-color: sandybrown;
  border: sandybrown solid 1px;
  box-shadow: 4px 4px 4px #df6f0f;
  color: black;
}

/* Carousel Page Accueil */
.carousel-button-prevnext {
  top: 20%;
  bottom: 20%;
}

.carousel-control-prev-btn {
  left: 10%;
}

.carousel-control-next-btn {
  right: 10%;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 0.2 !important;
}

.opacity-2 {
  opacity: 0.4 !important;
}

.opacity-3 {
  opacity: 0.6 !important;
}

.opacity-4 {
  opacity: 0.8 !important;
}

.opacity-5 {
  opacity: 1 !important;
}

.line-height-1 {
  line-height: 1rem !important;
}

.line-height-2 {
  line-height: 1.2rem !important;
}

.line-height-3 {
  line-height: 1.5rem !important;
}

.line-height-4 {
  line-height: 4rem !important;
}

#header {
  width: 90%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1;
}
footer div {
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  border: solid beige 1px;
  border-radius: 1%;
  box-shadow: inset beige 2px 2px 15px, beige 2px 2px 15px;
}
footer p {
  margin-top: 1em;
}
footer #footer-copyright {
  font-size: 0.95em;
}
footer #footer-signature {
  font-size: 0.8em;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: beige;
  border-radius: 2%;
  text-decoration: underline;
}

@media (max-width: 990px) {
  #menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 1.3rem;
  }
}
.menu-link {
  color: black;
}

/*.menu-link:hover {
    color: violet;
    transform: scale(1.2);
}*/
/* -------------------------------Général----------------------------------- */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  background-color: black;
  color: beige;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin-top: 2rem;
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

a {
  color: beige;
  font-weight: bold;
}
a:hover {
  color: #6032AA;
  transform: scale(1.2);
}

/* Importation Identifiant par page */
/* Page - Le Cane Corso */
#breed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#breed-info h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 20px;
  padding-top: 20px;
}
#breed-info aside {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
}
#breed-info aside div {
  display: flex;
  justify-content: space-evenly;
}
#breed-info img {
  align-self: flex-start;
  max-width: 350px;
  height: auto;
  border-radius: 2%;
  box-shadow: white 3px 5px 3px;
  margin: 10px;
}

.breed-para {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80%;
  margin-left: 50px;
  margin-right: 50px;
}

#standard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;
}
#standard p {
  width: 80%;
  line-height: 2rem;
}
#standard p u {
  margin: 30%;
}
#standard mark {
  text-decoration: underline;
  font-weight: bold;
  background-color: #000000;
  color: beige;
}

.aside-weeding {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.female-weeding img {
  max-width: 20rem;
  height: auto;
  margin-bottom: 3rem;
  box-shadow: 4px 4px 6px grey;
}
.female-weeding h3 {
  position: relative;
  left: 3rem;
  text-align: left;
  color: pink;
  font-size: 1.3rem;
}
.female-weeding p {
  position: relative;
  left: 3rem;
  text-align: left;
}

.male-weeding img {
  max-width: 20rem;
  height: auto;
  margin-bottom: 3rem;
  box-shadow: 4px 4px 6px grey;
}
.male-weeding h3 {
  position: relative;
  left: 3rem;
  text-align: left;
  font-size: 1.3rem;
  color: lightblue;
}
.male-weeding p {
  position: relative;
  left: 3rem;
  text-align: left;
}

/* Mixins && Extensions */
/*
#puppiesTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/
.puppy__card {
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.puppy__card p {
  font-weight: bold;
  min-width: 110px;
  text-align: center;
}
.puppy__card img {
  max-height: 14rem;
  width: auto;
  padding: 10px;
}

.puppy_male {
  text-shadow: 2px 2px 2px black;
  color: lightblue;
  box-shadow: 4px 8px 2px lightblue;
  background-color: #235e71;
}

.puppy_female {
  text-shadow: 2px 2px 2px black;
  color: pink;
  box-shadow: 4px 8px 2px pink;
  background-color: #6f0b30;
}

.puppy-info-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 15%;
}

.puppy-list-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.puppy-para {
  text-align: center;
}
.puppy-para .para-right {
  width: 80%;
  text-align: end;
}

.puppy-img img {
  border-radius: 5%;
}
.puppy-img:hover {
  transform: scale(1.05);
}

/*-------------------------------Classes-------------------------------------*/
.carousel-indicators-review {
  left: unset;
  top: 2%;
  right: 1%;
  bottom: unset;
  margin-left: unset;
  margin-right: unset;
}
.carousel-indicators-review li {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: black 1px solid;
  box-shadow: beige 2px 2px 5px;
}

.carousel-caption-move {
  bottom: 10%;
  right: 20%;
  left: 20%;
}

.align-para-img {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.align-para-img p {
  width: 80%;
  padding-right: 20px;
}

.title {
  color: beige;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow: beige 1px 1px 1px;
  padding-bottom: 30px;
}

.no-a {
  color: beige;
  font-weight: bold;
}
.no-a:hover {
  color: #6032AA;
  transform: scale(1);
}

.list-style {
  list-style: none;
  text-align: justify;
  font-weight: bold;
  line-height: 2.8em;
}

.repro-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.dog-info {
  padding-left: 100px;
  text-align: center;
  line-height: 150%;
  text-shadow: white 1px 1px 2px;
  color: beige;
}
.dog-info h2 {
  font-size: 1.8rem;
}
.dog-info p {
  font-size: 1.3rem;
}

/*--------------------- Page News -------------------------------*/
.article {
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.article__head {
  text-align: center;
}
.article__head .article__title {
  text-decoration: underline #6032AA;
}
.article__content {
  display: flex;
  justify-content: space-evenly;
}
.article__content .article__description {
  text-align: justify;
  padding: 20px;
  line-height: 1.5rem;
}
.article__content .article__image {
  max-width: 300px;
}
.article__foot {
  align-self: flex-end;
}
.article__foot .article__date {
  text-decoration: underline;
}
.article__foot .article__author {
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
