#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 25px;
    padding-bottom: 25px;

    background-color: beige;
    border-radius: 2%;
}


.menu-link {
    color: black;
}

/*.menu-link:hover {
    color: violet;
    transform: scale(1.2);
}*/