@import "utilities/btn";
@import "utilities/classboot";
@import "utilities/header";
@import "utilities/footer";
@import "utilities/menu";
@import "utilities/bases";

/* Importation Identifiant par page */

@import "pages/breed";
@import "pages/standard";
@import "pages/weedings";
@import "pages/puppies";

/* Mixins && Extensions */


.carousel-indicators-review {

    left: unset;
    top: 2%;
    right: 7%;
    bottom: unset;
    margin-left: unset;
    margin-right: unset;

    flex-direction: column;

    li {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        border: black 1px solid;
        box-shadow: beige 2px 2px 5px;
    }
}


#breed-info 
{
    aside {
        width: 100%;

        div {
            justify-content: space-around;

            @media (max-width: 970px)
            {
                flex-direction: column;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
        @media (max-width: 970px)
        {
            padding-bottom: 0;
        }
    }
    img {

        align-self: center;
        max-width: 350px;
        height: auto;
        border-radius: 2%;
        box-shadow: white 3px 5px 3px;
    }
}
.puppy__card {
    width: 90%;
}
 /**/ 

.align-para-img {

    display: flex;
    justify-content: space-between;
    margin: 10px;

    p {
        width: 80%;
        padding-right: 20px;
    }
}

.title {
    color: $text-color;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: $text-color 1px 1px 1px;
    font-size: 2.1rem;

    padding-bottom: 30px;
}

.no-a {
    color: $text-color;
    font-weight: bold;

    &:hover {
        color: $link-hover;
        transform: scale(1.0);
    }
}

.aside-weeding {

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;

}
.female-weeding {

    img {
        max-width: 20rem;
        height: auto;
        margin-bottom: 3rem;
    }
    h3 {
        position: relative;
        left: 3rem;
        text-align: left;
        color: pink;
        font-size: 1.3rem;
    }
    p {
        position: relative;
        left: 3rem;
        text-align: left;
    }
}

.male-weeding {

    img {
        max-width: 20rem;
        height: auto;
        margin-bottom: 3rem;
    }
    h3 {
        position: relative;
        left: 3rem;
        text-align: left;
        font-size: 1.3rem;
        color : lightblue;
    }
    p {
        position: relative;
        left: 3rem;
        text-align: left;
    }

}
.list-style {
    list-style: none;
    text-align: justify;
    font-weight: bold;
    line-height: 2.4em;

    display: flex;
    flex-direction: column;

}
.repro-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
@media all and (min-width: 840px)
{
    .dog-info {
        padding-right: 50px;
        font-size: 1.4rem;
        text-align: center;
        line-height: 150%;
        //text-shadow: white 1px 1px 2px;
        color: $text-color;
        p {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
}
@media all and (max-width: 840px)
{
    .dog-info {
        padding-right: 50px;
        font-size: 1.0rem;
        text-align: center;
        line-height: 150%;
        //text-shadow: white 1px 1px 2px;
        color: $text-color;

        p {
            font-size: 1.0rem;
        }
        h2 {
            font-size: 1.4rem;
        }
    }
}
@media all and (min-width: 840px)
{
    .diapo-dog {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 500px;
    }
}
@media all and (max-width: 840px)
{
    .diapo-dog {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;

    }
}

.diapo-button {
    align-self: stretch;
    font-weight: bold;
    text-shadow: black 2px 2px 5px;
    min-width: 30px;
}


.breed-para {
    flex-direction: column;
    align-self: flex-start;
    padding-right: 20px;

    margin-left: 50px;
    margin-right: 50px;
}

/*--------------------- Page News -------------------------------*/
.article {
    margin: auto;

    @media (min-width: 992px) and (max-width: 1280px)
    {
        width: 960px;
    }
    @media (min-width: 768px) and (max-width: 992px)
    {
        width: 720px;
    }
    @media (max-width: 767px)
    {
        width: 90%;
    }
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;

    &__head {
        text-align: center;

        .article__title {
            text-decoration: underline $link-hover;
        }
    }
    &__content {
        display: flex;
        justify-content: space-evenly;

        .article__description {
            text-align: justify;
            padding: 20px;
            line-height: 1.5rem;
        }
        .article__image {
            max-width: 300px;
        }
    }
    &__foot {
        align-self: flex-end;

        .article__date {
            text-decoration: underline;
        }
        .article__author {
            font-style: italic;
        }
    }
}

/* -------------------------------Général----------------------------------- */

p {
    font-size: 0.9rem;
}

