@charset "UTF-8";
/* Bouton Couleur Complétant Bootstrap */
.btn-beige {
  color: black;
  background-color: beige; }
  .btn-beige:hover {
    text-decoration: underline; }

/* Bouton Disponibilité Chiots */
.btn-avail {
  text-decoration: underline;
  color: white;
  padding: 2% 10%;
  font-weight: bold; }

.btn-dispo {
  background-color: #198c19;
  border: #198c19 solid 1px;
  box-shadow: 4px 4px 4px #0a350a;
  color: black; }

.btn-undispo {
  background-color: #d04b56;
  border: #d04b56 solid 1px;
  box-shadow: 4px 4px 4px #90252e;
  color: black; }

.btn-option {
  background-color: sandybrown;
  border: sandybrown solid 1px;
  box-shadow: 4px 4px 4px #df6f0f;
  color: black; }

/* Carousel Page Accueil */
.carousel-button-prevnext {
  top: 20%;
  bottom: 20%; }

.carousel-control-prev-btn {
  left: 10%; }

.carousel-control-next-btn {
  right: 10%; }

/* Définir les animations des boutons */
.btn__anim {
  transition: transform 300ms;
  transition-delay: 10ms;
  transition-timing-function: ease-in-out; }
  .btn__anim:hover {
    transform: scale(1.2); }

.opacity-0 {
  opacity: 0 !important; }

.opacity-1 {
  opacity: 0.2 !important; }

.opacity-2 {
  opacity: 0.4 !important; }

.opacity-3 {
  opacity: 0.6 !important; }

.opacity-4 {
  opacity: 0.8 !important; }

.opacity-5 {
  opacity: 1 !important; }

.line-height-1 {
  line-height: 1rem !important; }

.line-height-2 {
  line-height: 1.2rem !important; }

.line-height-3 {
  line-height: 1.5rem !important; }

.line-height-4 {
  line-height: 4rem !important; }

#header {
  width: 90%;
  margin: auto; }

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.0; }
  footer div {
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    border: solid beige 1px;
    border-radius: 1%;
    box-shadow: inset beige 2px 2px 15px, beige 2px 2px 15px; }
  footer p {
    margin-top: 1em; }
  footer #footer-copyright {
    font-size: 0.95em; }
  footer #footer-signature {
    font-size: 0.8em; }

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: beige;
  border-radius: 2%;
  text-decoration: underline; }

@media (max-width: 990px) {
  #menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 1.3rem; } }
.menu-link {
  color: black; }

/*.menu-link:hover {
    color: violet;
    transform: scale(1.2);
}*/
/* -------------------------------Général----------------------------------- */
html {
  font-family: 'Fraunces', Helvetica, Arial, sans-serif;
  font-size: 20px; }

body {
  background-color: black;
  color: beige;
  display: flex;
  flex-direction: column;
  font-family: 'Fraunces', Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  margin-top: 2rem;
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
  font-style: italic;
  font-weight: bold; }

a {
  color: beige;
  font-weight: bold; }
  a:hover {
    color: #6032AA;
    transform: scale(1.2); }

body p {
  font-family: 'Roboto Condensed' ,Helvetica, Arial, sans-serif; }

.hidden {
  overflow: hidden;
  display: none; }

/* --------------------- Cours & Tests ---------------------------- */
.form__group input {
  color: purple;
  transition: all;
  transition-duration: 400ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0, 2, 0.75, -0.5); }
  .form__group input:focus {
    border: 2px solid beige;
    background-color: lightgreen;
    transform: scale(1.05); }
  .form__group input:not(:focus):invalid {
    border: 2px solid black; }

.btn__form {
  transition: background-color 400ms, transform 450ms;
  transition-delay: 0ms, 200ms;
  transition-timing-function: ease-in-out; }
  .btn__form:hover {
    background-color: coral;
    transform: scale(1.3);
    text-decoration: underline; }
.btn__easeinout {
  transition: background-color 400ms, transform 450ms;
  transition-delay: 0ms, 200ms;
  transition-timing-function: ease-in-out; }
  .btn__easeinout:hover {
    background-color: beige;
    transform: rotate(720deg);
    text-decoration: underline; }
.btn__ease {
  transition: background-color 400ms, transform 750ms;
  transition-delay: 0ms, 200ms;
  transition-timing-function: ease; }
  .btn__ease:hover {
    background-color: red;
    transform: translateY(100%);
    text-decoration: underline; }
.btn__easein {
  transition: background-color 400ms, color 400ms, transform 450ms;
  transition-delay: 0, 0, 200ms;
  transition-timing-function: ease-in; }
  .btn__easein:hover {
    background-color: yellow;
    transform: scale(1.19);
    text-decoration: underline;
    color: purple; }
.btn__easeout {
  transition: background-color 400ms, transform 450ms;
  transition-delay: 0ms, 200ms;
  transition-timing-function: ease-out; }
  .btn__easeout:hover {
    background-color: coral;
    transform: scale(1.19);
    text-decoration: underline; }

/* ------------------- VERSION STABLE -------------------------- */
.menu-anim {
  transition: transform 200ms, color 300ms;
  transition-delay: 0ms, 0ms;
  transition-timing-function: ease-in;
  list-style-type: none; }
  .menu-anim:hover {
    transform: translateY(-10%) scale(1.1);
    color: purple; }

/* Importation Identifiant par page */
/* Page - Le Cane Corso */
#breed-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #breed-info h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 20px;
    padding-top: 20px; }
  #breed-info aside {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px; }
  #breed-info aside div {
    display: flex;
    justify-content: space-evenly; }
  #breed-info img {
    align-self: flex-start;
    max-width: 350px;
    height: auto;
    border-radius: 2%;
    box-shadow: white 3px 5px 3px;
    margin: 10px; }

.breed-para {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80%;
  margin-left: 50px;
  margin-right: 50px; }

#standard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px; }
  #standard p {
    width: 80%;
    line-height: 2rem; }
    #standard p u {
      margin: 30%; }
  #standard mark {
    text-decoration: underline;
    font-weight: bold;
    background-color: #000000;
    color: beige; }

.aside-weeding {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly; }

.female-weeding img {
  max-width: 20rem;
  height: auto;
  margin-bottom: 3rem;
  box-shadow: 4px 4px 6px grey; }
.female-weeding h3 {
  position: relative;
  left: 3rem;
  text-align: left;
  color: pink;
  font-size: 1.3rem; }
.female-weeding p {
  position: relative;
  left: 3rem;
  text-align: left; }

.male-weeding img {
  max-width: 20rem;
  height: auto;
  margin-bottom: 3rem;
  box-shadow: 4px 4px 6px grey; }
.male-weeding h3 {
  position: relative;
  left: 3rem;
  text-align: left;
  font-size: 1.3rem;
  color: lightblue; }
.male-weeding p {
  position: relative;
  left: 3rem;
  text-align: left; }

/* Mixins && Extensions */
.puppy_male {
  text-shadow: 2px 2px 2px black;
  color: lightblue;
  box-shadow: 4px 8px 2px lightblue;
  background-color: #235e71; }
.puppy_female {
  text-shadow: 2px 2px 2px black;
  color: pink;
  box-shadow: 4px 8px 2px pink;
  background-color: #6f0b30; }
.puppy__card p {
  font-weight: bold;
  text-align: center; }
@media all and (min-width: 1200px) {
  .puppy__card {
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    height: 350px;
    margin-left: auto;
    margin-right: auto; } }
@media all and (min-width: 1000px) and (max-width: 1199px) {
  .puppy__card {
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap; } }
@media all and (max-width: 999px) {
  .puppy__card {
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap; } }
.puppy_info-align_dogname {
  color: black;
  text-shadow: none;
  text-decoration: underline;
  border: solid black 2px;
  border-radius: 5%;
  background-color: #E6BA7E;
  width: 200px; }
@media all and (min-width: 1200px) {
  .puppy_info-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 15%;
    margin-left: auto;
    margin-right: auto; } }
@media all and (max-width: 1199px) {
  .puppy_info-align {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%; } }
@media all and (max-width: 1000px) {
  .puppy_img {
    width: 60%; } }
.puppy_img img {
  border-radius: 5%;
  padding: 10px;
  width: 570px;
  height: auto; }
  @media all and (max-width: 1000px) {
    .puppy_img img {
      width: 70%;
      border-radius: 10%;
      margin-left: 25%;
      margin-top: 10%;
      margin-bottom: 10%;
      box-shadow: black 2px 2px 4px; } }
.puppy_img:hover {
  transform: scale(1.05); }
.puppy_list-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin: auto;
  height: 60%;
  flex-wrap: nowrap; }
  @media all and (max-width: 1199px) {
    .puppy_list-button {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px; } }

.puppy-para {
  text-align: center; }
  .puppy-para .para-right {
    width: 80%;
    text-align: end; }

.opacity-0 {
  opacity: 0 !important; }

.opacity-1 {
  opacity: 0.2 !important; }

.opacity-2 {
  opacity: 0.4 !important; }

.opacity-3 {
  opacity: 0.6 !important; }

.opacity-4 {
  opacity: 0.8 !important; }

.opacity-5 {
  opacity: 1 !important; }

.line-height-1 {
  line-height: 1rem !important; }

.line-height-2 {
  line-height: 1.2rem !important; }

.line-height-3 {
  line-height: 1.5rem !important; }

.line-height-4 {
  line-height: 4rem !important; }

@media all and (max-width: 1279px) {
  .carousel-caption-move {
    position: static;
    width: 75%; } }
@media all and (min-width: 1280px) {
  .carousel-caption-move {
    bottom: 10%;
    right: 20%;
    left: 20%; } }

/* Mixins && Extensions */
.carousel-indicators-review {
  left: unset;
  top: 2%;
  right: 7%;
  bottom: unset;
  margin-left: unset;
  margin-right: unset;
  flex-direction: column; }
  .carousel-indicators-review li {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border: black 1px solid;
    box-shadow: beige 2px 2px 5px; }

#breed-info aside {
  width: 100%; }
  #breed-info aside div {
    justify-content: space-around; }
    @media (max-width: 970px) {
      #breed-info aside div {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem; } }
  @media (max-width: 970px) {
    #breed-info aside {
      padding-bottom: 0; } }
#breed-info img {
  align-self: center;
  max-width: 350px;
  height: auto;
  border-radius: 2%;
  box-shadow: white 3px 5px 3px; }

.puppy__card {
  width: 90%; }

/**/
.align-para-img {
  display: flex;
  justify-content: space-between;
  margin: 10px; }
  .align-para-img p {
    width: 80%;
    padding-right: 20px; }

.title {
  color: beige;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow: beige 1px 1px 1px;
  font-size: 2.1rem;
  padding-bottom: 30px; }

.no-a {
  color: beige;
  font-weight: bold; }
  .no-a:hover {
    color: #6032AA;
    transform: scale(1); }

.aside-weeding {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly; }

.female-weeding img {
  max-width: 20rem;
  height: auto;
  margin-bottom: 3rem; }
.female-weeding h3 {
  position: relative;
  left: 3rem;
  text-align: left;
  color: pink;
  font-size: 1.3rem; }
.female-weeding p {
  position: relative;
  left: 3rem;
  text-align: left; }

.male-weeding img {
  max-width: 20rem;
  height: auto;
  margin-bottom: 3rem; }
.male-weeding h3 {
  position: relative;
  left: 3rem;
  text-align: left;
  font-size: 1.3rem;
  color: lightblue; }
.male-weeding p {
  position: relative;
  left: 3rem;
  text-align: left; }

.list-style {
  list-style: none;
  text-align: justify;
  font-weight: bold;
  line-height: 2.4em;
  display: flex;
  flex-direction: column; }

.repro-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px; }

@media all and (min-width: 840px) {
  .dog-info {
    padding-right: 50px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 150%;
    color: beige; }
    .dog-info p {
      font-size: 1.2rem; }
    .dog-info h2 {
      font-size: 1.5rem; } }
@media all and (max-width: 840px) {
  .dog-info {
    padding-right: 50px;
    font-size: 1.0rem;
    text-align: center;
    line-height: 150%;
    color: beige; }
    .dog-info p {
      font-size: 1.0rem; }
    .dog-info h2 {
      font-size: 1.4rem; } }
@media all and (min-width: 840px) {
  .diapo-dog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px; } }
@media all and (max-width: 840px) {
  .diapo-dog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px; } }
.diapo-button {
  align-self: stretch;
  font-weight: bold;
  text-shadow: black 2px 2px 5px;
  min-width: 30px; }

.breed-para {
  flex-direction: column;
  align-self: flex-start;
  padding-right: 20px;
  margin-left: 50px;
  margin-right: 50px; }

/*--------------------- Page News -------------------------------*/
.article {
  margin: auto;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px; }
  @media (min-width: 992px) and (max-width: 1280px) {
    .article {
      width: 960px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .article {
      width: 720px; } }
  @media (max-width: 767px) {
    .article {
      width: 90%; } }
  .article__head {
    text-align: center; }
    .article__head .article__title {
      text-decoration: underline #6032AA; }
  .article__content {
    display: flex;
    justify-content: space-evenly; }
    .article__content .article__description {
      text-align: justify;
      padding: 20px;
      line-height: 1.5rem; }
    .article__content .article__image {
      max-width: 300px; }
  .article__foot {
    align-self: flex-end; }
    .article__foot .article__date {
      text-decoration: underline; }
    .article__foot .article__author {
      font-style: italic; }

/* -------------------------------Général----------------------------------- */
p {
  font-size: 0.9rem; }

/*# sourceMappingURL=smart-main.css.map */
