/* ------- Affichage sur téléphone portable et petite résolution ------ */

#copyright {
    font-size: 1rem;
    line-height: 1.5rem;
}

#copyright i {
    font-size: 0.8rem;
}

#remerciement {
    font-weight: bold;
    font-style: italic;
    line-height: 1.3em;
    font-size: 1rem;
    /*background-color: #2D2F30; */

}
/*
#footer {
    background-color: #2D2F30;
} 
*/

#coor-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 1.0rem;
    
}

#our-repro h3 {
    font-size: 1.4rem;

}

#contact {

    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;

}
#image-contact {

    max-width: 300px;
    border-radius: 5%;
}

#link-friend {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 70px;
}


#breed-info h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.5rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

#breed-info aside {
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
}

#breed-info aside div {
    display: flex;
    justify-content: space-around;
}

#breed-info img {

    align-self: center;
    max-width: 350px;
    height: auto;
    border-radius: 2%;
    box-shadow: white 3px 5px 3px;
}



/*------------------------------------Section 1 ------------------------------*/
#last-weeding {

    background:url("../src/img/okkaina1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 700px;
    border-bottom: solid black 2px;
    padding-bottom: 15px;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#last-weeding p {
    color: white; 
    text-shadow: black 2px 2px 3px;
    font-size: 1.0rem;
    font-weight: bold;
    padding-bottom: 1rem;

}
#last-weeding button {

    margin-left: 10%;
    margin-bottom: 5rem;


}

 /*----------------------------Section 2 -----------------------------------*/
#who-are-us {

    background-color: beige;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    text-shadow: black 1px 0px 0px;

    height: 600px;
    border-bottom: solid black 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

}
#who-are-us h2 {

    text-decoration: underline;
}

/* ------------------------------Section 3--------------------------------- */

#our-lovely-dog {
    background-image: url("../src/img/okkaina12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;

    color: white;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    text-shadow: black 1px 1px 1px;

    height: 700px;
    border-bottom: solid black 2px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

/*-------------------------------Classes-------------------------------------*/
.title {
    color: beige;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: beige 1px 1px 1px;
    font-size: 2.1rem;

    padding-bottom: 30px;
}
.button {
    border-radius: 15%;
    padding: 10px;
    background-color: black;
    color: beige;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}
.button:hover {
    color: violet;
    border-color: violet;
    transform: scale(1.12);
}
.no-a {
    color: beige;
    font-weight: bold;
}
.no-a:hover {
    color: violet;
    transform: scale(1.0);
}

.weeding-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.weeding-parent img {

    width: 400px;
    height: auto;
    border: 2px solid black;
    box-shadow: white 2px 2px 2px;
}

.list-style {
    list-style: none;
    text-align: justify;
    font-weight: bold;
    line-height: 2.4em;

    display: flex;
    flex-direction: column;

}
.repro-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
@media all and (min-width: 840px)
{
    .dog-info {
        padding-right: 50px;
        font-size: 1.4rem;
        text-align: center;
        line-height: 150%;
        text-shadow: white 1px 1px 2px;
        color: beige;
    }
    .dog-info p {
        font-size: 1.2rem;
    }
    .dog-info h2 {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 840px)
{
    .dog-info {
        padding-right: 50px;
        font-size: 1.0rem;
        text-align: center;
        line-height: 150%;
        text-shadow: white 1px 1px 2px;
        color: beige;
    }
    .dog-info p {
        font-size: 1.0rem;
    }

}
@media all and (min-width: 840px)
{
    .diapo-dog {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 500px;
    }
}
@media all and (max-width: 840px)
{
    .diapo-dog {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;

    }
}

.diapo-button {
    align-self: stretch;
    font-weight: bold;
    text-shadow: black 2px 2px 5px;
    min-width: 30px;
}

.clicky-flex-align {
    align-self: flex-end;
    text-align: center;
}

.breed-para {
    flex-direction: column;
    align-self: flex-start;
    padding-right: 20px;
}

.article-prev {
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px 10px;
}
.article-head { /*Entête de l'article Titre */
    text-align: center;
    text-decoration: underline violet;
}
.article-content { /* Contenu de l'article Description + Image */
    display: flex;
    justify-content: space-evenly;

}
.article-description {
    text-align: justify;
    padding: 20px;
    line-height: 1.5rem;
}
.article-image {
    max-width: 300px;
}
.article-foot { /*  Pied de l'article Date + Auteur */
    align-self: flex-end;

}
.article-date {
    text-decoration: underline;
}
.article-author {
    font-style: italic;

}

/* -------------------------------Général----------------------------------- */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;

}

body {
    background-color: black;
    color: beige;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

p {
    font-size: 0.8rem;
}

a {
    color: beige;
    font-weight: bold;
    font-size: 0.9rem;
}

a:hover {
    color: violet;
    transform: scale(1.2);
}

footer {
    height: 150px;
    padding-top: 20px;
    padding-bottom: 25px;
    text-shadow: white 0px 1px 0px;
    text-align: center;
    font-size: 1.0rem;
}