./private/*
./content/testversion/*
./content/oldversion/*
/.deploy
/.env
./vendor/
*.jpg
*.JPG

./src/img/*
!/src/img/user-default.jpg
!/src/img/puppy-default.jpg
!/src/img/repro-default.jpg
!/src/img/repros
!/src/img/puppies


/conn/conn.php
/conn/connn.php