./private/*
./content/testversion/*
./content/oldversion/*
/.deploy
/.env
*.jpg

/conn/conn.php
/conn/connn.php
/src/img
!/src/img/user-default.jpg
!/src/img/puppy-default.jpg
!/src/img/repro-default.jpg

