.puppies-container {
    width: 100%;

    .cards-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .puppy-litter-container {
        .puppy-card {
            width: 30%;
            max-width: 380px;
            max-height: 440px;
            padding: 10px;
            margin: 5px;

            @media all and (max-width: $md) {
                width: 45%;
                max-width: 330px;
            }

            @media all and (max-width: $sm) {
                width: 330px;
            }

            .card-top {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                flex-wrap: nowrap;

                h4 {
                    padding: 10px;
                    margin: 2px;
                    color: beige;

                    a {
                        color: beige;
                    }
                }

                .avail-zone {
                    background-color: beige;
                    font-weight: bolder;
                    padding: 10px 20px;
                    margin: 2px;
                }

                .Disponible,
                .disponible {
                    color: rgb(2, 58, 2);
                }

                .Option,
                .option {
                    color: rgb(120, 79, 3);
                }

                .Réservé,
                .réservé {
                    color: rgb(108, 3, 3);
                }
            }

            .card-info {
                margin: 2px;
                padding: 10px;

                img {
                    max-width: 90%;
                    max-height: 240px;
                    width: auto;
                }
            }
        }
    }
}

.Disponible,
.disponible {
    color: $available;
}

.Option,
.option {
    color: $en-option;
}

.Réservé,
.réservé {
    color: $reserved;
}

.border-Disponible,
.border-disponible {
    border: 2px solid lighten($available, 42);

}

.border-Option,
.border-option {
    border: 2px solid $en-option;
}

.border-Réservé,
.border-réservé {
    border: 2px solid $reserved;

}

.bg-Disponible,
.bg-disponible {
    background-color: $available;

}

.bg-Option,
.bg-option {
    background-color: $en-option;
}

.bg-Réservé,
.bg-réservé {
    background-color: $reserved;

}