@import "variables";

body {
    background-color: #03040E;
    color: #C7C7C7;
    text-align: center;

    .male-color {
        color: $male;
    }

    .female-color {
        color: $female;
    }

    .admin-nav {
        width: 100%;
        margin: 1.5rem auto;
        text-align: center;

        a {
            margin: 2px;
            transition: $main-transition;

            &:hover {
                transform: scale(1.04);
                text-decoration: underline;
            }
        }
    }

    .order-container {
        border-bottom: solid beige 1px;
        padding: 10px;
        margin-bottom: 12px;

        .btn-sm {
            margin-top: 4px;
            display: inline-block;
            transition: unset;
            transform: unset;
        }
    }

    h1 {
        text-align: center;
        padding-bottom: 30px;
        margin-bottom: 10px;
        border-bottom: 2px solid #C7C7C7;

    }

    .repro-line {
        margin: 2px 20px;
        padding: 5px;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #C7C7C7;
        margin-bottom: 10px;


        a,
        p {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: #C7C7C7;

            &:hover {
                color: purple;
                transform: unset;
            }

            &.btn {
                font-size: 1.2rem;

                &:hover {
                    color: white;
                }
            }
        }

        @media all and (max-width: $lg) {

            a,
            p {

                font-size: 1.3rem;

                &.btn {
                    font-size: 1rem;
                }
            }
        }

        @media all and (max-width: $md) {

            a,
            p {

                font-size: 1rem;
            }
        }

        @media all and (max-width: $sm) {

            p {
                display: none;
            }
        }

        .image-space {
            width: 200px;
            max-width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media all and (max-width: $md) {
                max-width: 0;
                width: 0;
                overflow: hidden;
            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                img {
                    margin: auto 5px;
                }
            }
        }



        img {
            max-height: 8vh;
        }
    }

    .error-div {
        background-color: rgb(211, 98, 98);
        color: #FFF;
        font-size: 1.2em;
        font-weight: bold;
    }

    .section-repro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;

        padding: 10px;
        margin: 10px;
        width: 100%;

        @media all and (max-width: $md) {
            flex-wrap: wrap-reverse;
        }
    }

    .infos-repro {
        flex: 0 1 39%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;

        .button-zone {
            width: 100%;
            margin-top: 2.2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            transition: $main-transition;

            &:hover {
                transform: scale(1.06);
            }
        }

        img {
            width: 80%;
            min-width: 200px;
            max-width: 400px;
            margin: 10px;
        }

        h3,
        h4 {
            width: 100%;
            text-align: center;
            margin: 1.7rem auto;
            font-size: 1.5rem;
        }

        h4,
        h5,
        p {
            margin-left: 10px;
        }

        .diapo-img-container {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            img {
                max-width: 22%;
            }
        }
    }

    .repro-form-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 2 0 60%;

        @media all and (max-width: $md) {
            width: 85%;

        }

        h2 {
            width: 100%;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }

        .repro-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 85%;



            option,
            select {
                border: solid 2px beige;
                background: #e7e7e7;
                border-radius: 5px;
                padding: 2px;
                margin: 5px;
                width: 35%;

                @media all and (max-width: $md) {
                    width: 50%;
                }
            }

            input {
                border: solid 2px beige;
                padding: 2px;
                margin: 5px;
                background: #e7e7e7;
                border-radius: 5px;
                width: 60%;

                @media all and (max-width: $md) {
                    width: 85%;
                }
            }

            input[type="radio"] {
                width: 20px;
                height: 20px;
                margin-bottom: 0;
                margin-left: 30px;

                &#Female {
                    accent-color: $female;
                }

                &#Male {
                    accent-color: rgb(53, 202, 252);
                }
            }

            fieldset {
                width: 60%;

                @media all and (max-width: $md) {
                    width: 100%;
                }
            }

            label,
            legend {
                font-size: 20px;
            }

            .notmydog-field input[type="checkbox"] {
                accent-color: red;
            }

            .notmydog-field,
            .adn-field {
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                margin: 5px auto;

                input {
                    margin-top: 0;
                    margin-left: 20px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}