body {
  background-color: #03040E;
  color: #C7C7C7;
  text-align: center;
}
body h1 {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #C7C7C7;
}
body .repro-line {
  margin: 2px 20px;
  padding: 5px;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #C7C7C7;
  margin-bottom: 10px;
}
body .repro-line .image-space {
  width: 200px;
  max-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .repro-line .image-space a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body .repro-line .image-space a img {
  margin: auto 5px;
}
body .repro-line a,
body .repro-line p {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #C7C7C7;
}
body .repro-line a:hover,
body .repro-line p:hover {
  color: purple;
}
body .repro-line img {
  max-height: 8vh;
}
body .error-div {
  background-color: rgb(211, 98, 98);
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
}
body .section-repro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 10px;
  width: 100%;
}
body .infos-repro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body .infos-repro img {
  width: 80%;
  min-width: 200px;
  max-width: 400px;
  margin: 10px;
}
body .infos-repro h3,
body .infos-repro h4 {
  width: 100%;
  text-align: center;
}
body .infos-repro h4,
body .infos-repro h5,
body .infos-repro p {
  margin-left: 10px;
}
body .repro-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
}
body .repro-form-container .repro-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
body .repro-form-container .repro-form option,
body .repro-form-container .repro-form select {
  border: solid 2px beige;
  background: #e7e7e7;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
body .repro-form-container .repro-form input {
  border: solid 2px beige;
  padding: 2px;
  margin: 5px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 60%;
}
body .repro-form-container .repro-form input[type=radio] {
  width: unset;
}
body .repro-form-container .repro-form fieldset {
  width: 60%;
}
body .repro-form-container .repro-form label,
body .repro-form-container .repro-form legend {
  margin-left: 5px;
  font-size: 20px;
}

.parents-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 1;
}
.parents-container .mother-container,
.parents-container .father-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.parents-container h3,
.parents-container h4,
.parents-container h5 {
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.litter-infos-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.repro-form .litter-infos-puppies {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.repro-form .litter-infos-puppies i {
  font-size: 0.8em;
}
.repro-form .litter-infos-puppies legend {
  width: 100%;
}
.repro-form .litter-infos-puppies input {
  max-width: 40px;
}/*# sourceMappingURL=main.css.map */