@import "variables";

/* -------------------------------Général----------------------------------- */

html {
    font-size: 20px;
}

body {
    background-color: black;
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: 'Fraunces', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {

    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

a {
    color: $text-color;
    font-weight: bold;

    &:hover {
        color: $link-hover;
        transform: scale(1.2);
    }
}

body p {
    font-family: 'Roboto Condensed' ,Helvetica, Arial, sans-serif;
}

.hidden {
    overflow: hidden;
    display: none;
}
.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }
.line-height-1 {
    line-height: 1rem!important;
  }
  .line-height-2 {
    line-height: 1.2rem!important;
  }
  .line-height-3 {
    line-height: 1.5rem!important;
  }
  .line-height-4 {
    line-height: 4rem!important;
  }

  .fancybox-inner {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fancybox-image {
    width: 100%;
    object-fit: contain;
    align-self: center;
  }


  @media all and (max-width: 999px) {
    .fancybox-skin {
      overflow: hidden;
    }
    .fancybox-close {
      top: 0;
      right: 0;
    }
  }

  @media all and (min-width: 1000px)
{
  .center-main {
      width: 80%;
      margin: auto;
  }
}