@import "variables";

/* -------------------------------Général----------------------------------- */

html {
    font-size: 20px;
}

body {
    background-color: black;
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: 'Fraunces', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {

    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

a {
    color: $text-color;
    font-weight: bold;

    &:hover {
        color: $link-hover;
        transform: scale(1.2);
    }
}

body p {
    font-family: 'Roboto Condensed' ,Helvetica, Arial, sans-serif;
}

.hidden {
    overflow: hidden;
    display: none;
}
