#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 25px;
    padding-bottom: 25px;

    background-color: beige;
    border-radius: 2%;

    text-decoration: underline;
    
}
@media (max-width: 990px) {
    #menu {

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        line-height: 1.3rem;
    }
}

.menu-link {
    color: black;
}

/*.menu-link:hover {
    color: violet;
    transform: scale(1.2);
}*/