@import "variables";


/* --------------------- Cours & Tests ---------------------------- */

.btn-scaling {

    border: black solid 1px;

    transition: transform 400ms;
    transition-delay: 10ms;
    &:hover {
        transform: scale(1.20);
    }

}







/* ------------------- VERSION STABLE -------------------------- */