$text-color: beige;
$link-hover: #6032AA;
$font-color: #000000;
$available: #198c19;
$reserved: #d04b56;
$en-option: sandybrown;
$male: lightblue;
$puppy-male: lightblue;
$female: pink;
$puppy-female: pink;
$puppy-female-back: #6f0b30;