@import '../utilities/variables';

#contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;


    .contact-form {
        background-color: lighten($color: #000, $amount: 10);
        padding: 0 5%;
        width: 65%;
        
        form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 50px 0;
            div {
                width: 40%;
                max-width: 45%;
                padding: 20px 0;
                margin-right: 5%;
                label {
                    max-width: 100%;
                }
                input {
                    border: unset;
                    border-bottom: solid 2px $text-color;
                    background-color: lighten($color: #000000, $amount: 12);
                    max-width: 100%;
                    color: $text-color;
                    &:focus {
                        color: $text-color;
                    }
                }
                &:nth-child(3) {
                    width: 95%;
                    max-width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    label {
                        width: 100%;
                    }
                    textarea {
                        width: 90%;
                        min-height: 150px;
                        color: $text-color;
                        border: unset;
                        border-bottom: solid 2px $text-color;
                        background-color: lighten($color: #000000, $amount: 12);
                        &:focus {
                            color: $text-color;
                        }
                    }
                }
            }
            button {
                margin: 7% 0 5% 0;
                padding: 3%;
                position: relative;
                bottom: 0;
                left: calc(100% - 230px);
            }
        }
    }

    .contact-info {
        width: 35%;
        background-color: $text-color;
        color: $font-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 200px;


        div {
            width: 90%;

            &:nth-child(4)
            {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }

            &:nth-child(3)
            {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
            }

        }

        a {
            color: $font-color;
            &:hover {
                transform: unset;
                color: $font-color;
            }
        }
        .btn-dark {
            width: 230px;
            color: $text-color;
            &:hover {
                color: $text-color;
                text-decoration: underline;
            }
        }

    }

    #contact-map {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 80px;
        iframe {
            width: 50%;
            min-height: 350px;

        }
    }






}

