@import "../utilities/variables";


/* Mixins && Extensions */

@mixin puppy-card($colour, $back-colour) {
    color: $colour;
    box-shadow: 4px 8px 2px $colour;
    background-color: $back-colour;
}
#puppiesTab {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

}

.puppy {
    &_male {
        text-shadow: 2px 2px 2px black;
        @include puppy-card($puppy-male, darken($puppy-male, 50));
    }

    &_female {
        text-shadow: 2px 2px 2px black;
        @include puppy-card($puppy-female, $puppy-female-back);
    }
    &__card {

        p {
            font-weight: bold;
            text-align: center;
        }
        
            border-radius: 1%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;
            width: 90%;
            height: 350px;
            margin-left: auto;
            margin-right: auto;

        @media all and (max-width: 1199px)
        {

            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
        }
    }

    &_info-align {
        &_dogname {
            color : black;
            text-shadow : none;
            text-decoration : underline;
            border : solid black 2px;
            border-radius : 5%;
            background-color : #E6BA7E;
            width : 200px;

        }
        @media all and (min-width: 1200px)
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            max-width: 15%;
            margin-left: auto;
            margin-right: auto;



        }
        @media all and (max-width: 1199px)
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 30%;
        }
    }
    &_img {

        @media all and (max-width: 1000px)
        {
            width: 60%;
        } 

        img {
                border-radius: 5%;
                padding: 10px;
                width: 570px;
                height: auto;
                object-fit: cover;



           @media all and (max-width: 1000px)
            {
                width: 70%;
                border-radius: 10%;
                margin-left: 25%;
                margin-top: 5%;
                margin-bottom: 5%;
                box-sizing: border-box;
                box-shadow: black 2px 2px 4px;
            }
            

        }
        &:hover {
            transform: scale(1.05);
        }
    }

    &_list-button {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        margin: auto;
        height: 60%;
        flex-wrap: nowrap;

        @media all and (max-width: 1199px)
        {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}


.puppy-para {
    text-align: center;
    margin: 0 10%;

    .para-right {
        width: 80%;
        text-align: end;
    }
}

