@import "../utilities/variables";

.div-weeding {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.female-weeding {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    .img-weeding {
        order: 1;
    }        
    .txt-weeding {
        order: 2;
    }
    img {
        max-width: 20rem;
        height: auto;
        margin-bottom: 3rem;
        box-shadow: 4px 4px 6px grey;
    }
    h3 {
        position: relative;
        left: 3rem;
        text-align: left;
        color: pink;
        font-size: 1.3rem;
    }
    p {
        position: relative;
        left: 3rem;
        text-align: left;
    }
}
.male-weeding {
    display: flex;
    flex-direction: column;
    .img-weeding {
        order: 1;
    }        
    .txt-weeding {
        order: 2;
    }
    img {
        max-width: 20rem;
        height: auto;
        margin-bottom: 3rem;
        box-shadow: 4px 4px 6px grey;

    }
    h3 {
        position: relative;
        left: 3rem;
        text-align: left;
        font-size: 1.3rem;
        color : lightblue;
    }
    p {
        position: relative;
        left: 3rem;
        text-align: left;
    }
}
.date-weeding {
    text-align: right;
    margin-bottom: 4rem;
    margin-right: 3rem;
}
.separate-weeding {
    background-color: #fff;
    width: 50%;
}
.weeding-baby {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@media all and (max-width: 1023px)
{

    #weeding-page {
        width: 100%;
    }
    #weeding-page header, #weeding-page main, #weeding-page footer {
        width: 100%;
    }
    #weedings {
        width: 100%;
    }
    #weedings .div-weeding {
        width: 100%;
    }
    #weedings section {
        max-width: 50%;
        overflow: hidden;
    }
    .div-weeding {
        padding: 20px 0;
    }

    .div-weeding > div {
        max-width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    #weedings img {
        width: 85%;
        max-width: 85%;
    }
    /*Vieille utilisation des selecteurs à corriger */
    .female-weeding {
        display: flex;
        flex-direction: column;
        .img-weeding {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            order: 2;
        }

        img {
            width: 100%;
            height: auto;
            margin: 0;
            margin-top: 50px;
            box-shadow: 4px 4px 6px grey;
        }
        h3 {
            text-align: center;
            color: pink;
            font-size: 1rem;
            position: unset;
            margin-top: unset;
        }
        p {
            font-size: 0.8rem;
            position: unset;
            text-align: center;
            margin: 5px;
        }
    }
    .male-weeding {
        display: flex;
        flex-direction: column;
        .img-weeding {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            order: 2;
        }
        img {
            width: 100%;
            height: auto;
            margin: 0;
            margin-top: 50px;
            box-shadow: 4px 4px 6px grey;
        }
        h3 {
            text-align: center;
            color: lightblue;
            font-size: 1rem;
            position: unset;
            margin-top: unset;
        }
        p {
            font-size: 0.8rem;
            position: unset;
            text-align: center;
            margin: 5px;
        }
    }
    #weedings h5 {
        font-size: 0.8rem;
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
    .weeding-baby {
        margin-bottom: 20px;
    }
}   

